<!DOCTYPE html>
<html lang="ja" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Annoyance Tools - BotNuke</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="container-fluid">
    <h1>Nuke</h1>
    <p>管理者Botの招待リンクは</p>
    <pre>https://discord.com/oauth2/authorize?client_id=クライアントID&permissions=8&response_type=code&integration_type=0&scope=bot</pre>
    <p>です。クライアントIDはBotの設定画面からOAuth2にあります。<br>
    Tokenは設定画面のBotに Reset Token ボタンを押すと取得できます。</p>
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="mb-3" id="form" accept-charset="UTF-8">
                <div class="mb-2">
                    <label for="token">Token</label>
                    <div class="position-relative">
                        <input type="password" class="form-control" id="token" name="token" required>
                        <span id="eyeIcon" class="bi bi-eye translate-middle position-absolute top-50 end-0" onclick="eyeToken();"></span>
                    </div>   
                </div>
                <div class="mb-2">
                    <label for="guildId">Guild ID</label>
                    <input type="text" class="form-control" id="guildId" name="guildId" required>
                </div>
                <div class="mb-2">
                    <label for="channelName">チャンネル名</label>
                    <input type="text" class="form-control" id="channelName" name="channelName" required>
                </div>
                <div class="mb-2">
                    <label for="latency">レイテンシ（1Nukeと1Nukeの間の遅延ms）</label>
                    <input type="number" class="form-control" id="latency" name="latency" value="200" required>
                </div>
                <div class="mb-2">
                    <label for="message">メッセージ</label>
                    <textarea class="form-control" id="message" name="message" rows="15" required>@everyone
# Nuke</textarea>
                <button type="submit" id="submit" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    Nuke!
                </button>
            </form>
        </div>
    </div>
    {% if logId %}
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <button class="btn btn-primary" onclick="location.href='stopDiscordBot?id={{ logId }}'">Stop</button>
    <pre style="white-space: pre-warp;">
        <div hx-get="getDiscordBotLog?id={{ logId }}" hx-trigger="every 300ms"></div>
    </pre>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        function eyeToken(){
            $("#eyeIcon").toggleClass("bi-eye-slash bi-eye");
            const type = $('#token').attr('type') === 'password' ? 'text' : 'password';
            $('#token').attr('type', type);
        }
        document.getElementById('form').addEventListener('submit', function(event) {
            var tokenInput = document.getElementById("token");
            var guildIdInput = document.getElementById("guildId");
            var channelNameInput = document.getElementById("channelName");
            var latencyInput = document.getElementById("latency");
            var messageInput = document.getElementById("message");
            var submitButton = document.getElementById("submit");
            tokenInput.readOnly = guildIdInput.readOnly = channelNameInput.readOnly = latencyInput.readOnly = messageInput.readOnly = true;
            submitButton.disabled = true;
            var spinner = this.querySelector('.spinner-border');
            spinner.classList.remove('d-none');
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>