<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Neon - ChangeName</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="bg"></div>
    <div class="container">
        <header class="header">
            <div class="notification">
                <img src="static/discordLogo.svg" class="notification-icon">
                <span class="notification-count" id="notificationCount">0</span>
            </div>
            <h1 class="title">Change Name</h1>
            <ul class="nav">
                <li><a href="http://localhost:8080/tools" id="aLink">Tools</a></li>
            </ul>
        </header>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" class="mb-3" id="form" accept-charset="UTF-8">
                        <div class="mb-2">
                            <label for="tokens">Tokens:</label>
                            <textarea class="form-control" id="tokens" name="tokens" oninput="saveContent()" rows="6" placeholder="OTAxxxxxxxxxxxxxxxxxxxxxxxxx" required></textarea>
                        </div>
                        <div class="mb-2">
                            <label for="newName">New name:</label>
                            <input type="text" class="form-control" id="newName" name="newName" value="឵᠎" required>
                        </div>
                        <div class="mb-2">
                            <label for="capmonsterApiKey">Capmonster ApiKey:</label>
                            <input type="text" class="form-control" id="capmonsterApiKey" name="capmonsterApiKey" required>
                        </div>
                        <button type="submit" id="submit" class="btn btn-primary">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            Change
                        </button>
                    </form>
                </div>
            </div>
            {% if logId %}
            <script src="https://unpkg.com/htmx.org@2.0.1"></script>
            <pre style="white-space: pre-wrap;">
                <div hx-get="getLog?id={{ logId }}" hx-trigger="every 300ms"></div>
            </pre>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        const linkElement = document.getElementById('aLink');
        linkElement.href = `http://${window.location.hostname}:8080/tools`;

        document.getElementById('form').addEventListener('submit', function(event) {
            var tokensInput = document.getElementById("tokens");
            var newNameInput = document.getElementById("newName");
            var capmonsterApiKeyInput = document.getElementById("capmonsterApiKey");
            var submitButton = newNameInput.readOnly = capmonsterApiKeyInput.readOnly = true;
            submitButton.disabled = true;
            var spinner = this.querySelector('.spinner-border');
            spinner.classList.remove('d-none');
        });

        let count = 0;
        const notificationCount = document.getElementById('notificationCount');

        function saveContent() {
            const content = document.getElementById('tokens').value;
            localStorage.setItem('tokens', content);
        }
        function loadContent() {
            const savedContent = localStorage.getItem('tokens');
            if (savedContent !== null) {
                document.getElementById('tokens').value = savedContent;
            }
        }
        window.onload = loadContent;

        setInterval(() => {
            count = (count + 1) % 201; // 200を超えたらリセット
            notificationCount.textContent = count;
        }, 50);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
