<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Neon - SelfBotNuke</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="bg"></div>
    <div class="container">
        <header class="header">
            <div class="notification">
                <img src="static/discordLogo.svg" class="notification-icon">
                <span class="notification-count" id="notificationCount">0</span>
            </div>
            <h1 class="title">Nuke</h1>
            <ul class="nav">
                <li><a href="http://localhost:8080/tools" id="aLink">Tools</a></li>
            </ul>
        </header>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" class="mb-3" id="form" accept-charset="UTF-8">
                        <div class="mb-2">
                            <label for="tokens">Tokens</label>
                            <textarea class="form-control" id="tokens" name="tokens" oninput="saveContent()" rows="6" placeholder="OTAxxxxxxxxxxxxxxxxxxxxxxxxx" required></textarea>
                        </div>
                        <div class="mb-2">
                            <label for="guildId">Server ID</label>
                            <input type="text" class="form-control" id="guildId" name="guildId" required>
                        </div>
                        <div class="mb-2">
                            <label for="channelName">Channel Name</label>
                            <input type="text" class="form-control" id="channelName" name="channelName" required>
                        </div>
                        <div class="mb-2">
                            <label for="latency">Latency (ms delay between 1 Nuke and 1 Nuke)</label>
                            <input type="number" class="form-control" id="latency" name="latency" value="300" required>
                        </div>
                        <div class="mb-2">
                            <label for="message">Message1</label>
                            <textarea class="form-control" id="message" name="message" rows="15" required># 荒らし共栄圈最強
[荒らし.com](<https://荒らし.com>)

https://discordapp.com/./wa5mn6Z68R

(画像) https://imgur.com/pM2c8OU
(画像) https://imgur.com/yNx4Me2
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</textarea>
                        </div>
                        <div class="mb-2">
                            <label for="message">Message 2 (e.g. command trolling (slash commands cannot use arguments) can be separated by a new line !userId! will change to the server's user ID)</label>
                            <textarea class="form-control" id="subMessages" name="subMessages" rows="7"></textarea>
                        </div>
                        <div class="mb-2">
                            <label for="exclusionChannelIds">Excluded channel ID (comma separated)</label>
                            <input type="text" class="form-control" id="exclusionChannelIds" name="exclusionChannelIds">
                        </div>
                        <div class="mb-2">
                            <input type="checkbox" name="allChannelDelete">Delete all channels<br>
                            <input type="checkbox" name="allUserBan">BAN all member<br>
                            <input type="checkbox" name="randomMention" checked>Random mention<br>
                        </div>
                        {% if not logId %}
                        <button type="submit" id="submit" class="btn btn-primary">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            Nuke!
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
            <p>== Log ==</p>
            {% if logId %}
            <script src="https://unpkg.com/htmx.org@2.0.1"></script>
            <button class="btn btn-primary" onclick="location.href='stop?id={{ logId }}'">Stop</button>
            <pre style="white-space: pre-wrap;">
                <div hx-get="getLog?id={{ logId }}" hx-trigger="every 300ms"></div>
            </pre>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        const linkElement = document.getElementById('aLink');
        linkElement.href = `http://${window.location.hostname}:8080/tools`;

        document.getElementById('form').addEventListener('submit', function(event) {
            var tokensInput = document.getElementById("tokens");
            var guildIdInput = document.getElementById("guildId");
            var channelNameInput = document.getElementById("channelName");
            var latencyInput = document.getElementById("latency");
            var messageInput = document.getElementById("message");
            var subMessagesInput = document.getElementById("subMessages");
            var exclusionChannelIds = document.getElementById("exclusionChannelIds");
            var submitButton = document.getElementById("submit");
            tokenInput.readOnly = guildIdInput.readOnly = channelNameInput.readOnly = latencyInput.readOnly = messageInput.readOnly = subMessages.readOnly = InputexclusionChannelIds.readOnly = true;
            submitButton.disabled = true;
            var spinner = this.querySelector('.spinner-border');
            spinner.classList.remove('d-none');
        });

        let count = 0;
        const notificationCount = document.getElementById('notificationCount');

        function saveContent() {
            const content = document.getElementById('tokens').value;
            localStorage.setItem('tokens', content);
        }
        function loadContent() {
            const savedContent = localStorage.getItem('tokens');
            if (savedContent !== null) {
                document.getElementById('tokens').value = savedContent;
            }
        }
        window.onload = loadContent;

        setInterval(() => {
            count = (count + 1) % 201; // 200を超えたらリセット
            notificationCount.textContent = count;
        }, 50);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
