body {
    background: linear-gradient(135deg, #1f1c18 25%, #2d2d2d 100%);
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 2em;
    color: rgba(246, 255, 0, 0.402);
    text-align: center;
    text-shadow: 
        0 0 5px red,
        0 0 10px red,
        0 0 15px red,
        0 0 20px red,
        0 0 25px red,
        0 0 30px red,
        0 0 35px red;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    color: #738adb;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.nav a::before {
    content: "💣";
    margin-right: 10px;
}

.nav a:hover {
    color: #ff4757;
}

.content {
    background-color: #2B2D31;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.bg {
    background-image: url('https://www.transparenttextures.com/patterns/dark-leather.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.notification {
    position: relative;
    display: inline-block;
}

.notification-icon {
    width: 48px;
    height: 48px;
    background: no-repeat center center;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.notification-count {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ff4757;
    color: #ffffff;
    border-radius: 30%;
    padding: 3px 10px;
    font-size: 1em;
    white-space: nowrap;
}

.item-input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.item-input input {
    flex: 1;
    margin-right: 0.5rem;
}
.item-input .remove-btn {
    background-color: #dc3545;
    color: white;
    border: none;
}